@charset "ISO-8859-1";
@page { size: auto !important;
	margin: 0mm !important;
}
body{
	background-color: #EEF0F1 !important;
}
.layout-topbar{
	background:#2196F3 !important;
	opacity:1.2 !important;
	
}


body .ui-menu.ui-menubar{
	background: none !important;
}

body .ui-menu {
    background: none !important;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    background: none !important;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link.ui-state-hover {
    background: none !important;
}


body .ui-menu .ui-menu-list .ui-menuitem{
	background:#2196F3 !important;
}

.layout-config .layout-config-content-wrapper .layout-config-button {
	background-color: #2196F3 !important;
}
body .ui-menu .ui-menu-list .ui-menu-child{
	background:#2196F3 !important;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text{
	color:#ffffff !important;
	font-weight:bolder !important;
}

body .ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link .ui-menuitem-icon{
	color:#ffffff !important;
	font-weight:bolder !important;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-icon-triangle-1-s:last-child{
	color: #ffffff !important;
	font-weight:bolder !important;
}


body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-icon{
	color: #ffffff !important;
	font-weight:bolder !important;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-icon-triangle-1-e:last-child{
    color: #ffffff !important;
    font-weight:bolder !important;	
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #EEF0F1;
  outline: 1px solid slategrey;
}


body .ui-fileupload .ui-fileupload-buttonbar {
    border: 0px solid #dee2e6;
    background: none;
    color: #495057;
    padding: 0rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

body .ui-fileupload .ui-fileupload-content {
    border: 0px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    padding: 0rem;
    border-top: 0 none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.ui-fileupload-files{
	display:none;
}

body .ui-fileupload .ui-fileupload-buttonbar .ui-button{
	border-radius:10px;
	background-color: transparent;
    color: #689F38;
    border-color: transparent;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%); 
}

.ui-sidebar::-webkit-scrollbar {
  width: 1em;
}
 
.ui-sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.ui-sidebar::-webkit-scrollbar-thumb {
  background-color: #EEF0F1;
  outline: 1px solid slategrey;
}

.Mezkw {
	width:100%;
	height:54px;
	padding:2px;
	margin-bottom:4px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	background-color: #FFFFFF;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.14);
	box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.14);
	flex-grow: 1;
	overflow: hidden;
	z-index: 1;
}

.RNNXgb {
	display: flex;
	flex-direction:row;
	min-height: 60px;
	background: #fff;
	border: 2px solid #dfe1e5;
	box-shadow: none;
	border-radius: 10px;
	margin: 0 auto;
	padding:1px;
	width: 76%;
	width: auto;
	max-width: 76%;
}

.RNNXgb:focus-within {
	display: flex;
	flex-direction:row;
	min-height: 60px;
	background: #fff;
	border: 2px solid #dfe1e5;
	box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.14);
	border-radius: 10px;
	margin: 0 auto;
	padding:1px;
	width: 76%;
	width: auto;
	max-width: 76%;
}

.RNNXgb-icon {
	border-radius: 6px !important;
	align-self: center !important;
	min-height: 60px !important;
	width: 60px !important;
	max-width: 60px !important;
	padding-top: 20px !important;
	font-size: x-large !important;
	color:#B739F2 !important;
	text-align: center;
}
.RNNXgb-btn-round {
	align-self: center !important;
	min-height: 60px !important;
	width: 60px !important;
	max-width: 60px !important;
	border-radius: 10px;
	
}

.RNNXgb-btn-round > span.ui-icon{
	font-size: large !important;
}
.RNNXgb-btn {
	border-radius: 6px !important;
	align-self: center !important;
	min-height: 60px !important;
	width: 60px !important;
	max-width: 60px !important;
}

.filter_search_top{
	margin-top:3px !important;
	top: initial !important;
}

.bookshelf {
  cursor: pointer;
  display: block;
  width: 100px;
  height: 120px;
  position: relative;
  background: white;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow 0.3s linear;
}

.bookshelf img {
  width: inherit;
  height: inherit;
  transform-origin: 0 50%;
  transform: rotateY(0);
  transition: all 0.45s ease;
}

.bookshelf:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}
.bookshelf:hover img {
  transform: rotateY(-25deg);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.bookshelf::after,
.bookshelf::before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: white;
  border: 1px solid #d9d9d9;
}

.bookshelf::before {
  left: -3px;
}

.bookshelf::after {
  left: -6px;
}

div.ui-datatable-tablewrapper table{
	margin-bottom: 8px;
}

.new-correspondence{
	background-color: #EEF5FC !important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
	font-weight:bolder !important;
}


.ui-datatable tbody.ui-datatable-data {
	cursor: pointer !important;
}

.ui-datatable-odd:hover{
	background-color: #E3F2FD !important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.ui-datatable-even:hover{
	background-color: #E3F2FD !important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active {
	background-color: #E3F2FD !important;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15) !important;
}

.new-notification{
	box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.14);
	background-color: #FFCDE5 !important;
}

.new-notification > div {
	font-weight:bolder !important;
}

.new-notification > div > div.ui-chip-text {
	font-weight:bolder !important;
}

.noHeader.ui-datatable table thead tr {
    display: none;
}
.noHeader.ui-datatable table tbody tr{
    max-height : 20px;
}
.noHeader.ui-datatable table tbody tr td{
	padding: 0.2rem;
}